body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}
li{
    list-style-type: none;
}
.btn-learn-more {   
    background-color: rgb(65,159,196);
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:5px;
    border:1px solid;
    display:inline-block;
    color:white;
    padding:16px 31px;
    text-shadow:0px 1px 0px #2f6627;
}
.btn-learn-more:hover {
    background-color: #2B9BD2;
}
.btn-all-solution {
    background-color: rgb(52, 127, 157);
    font-size: 13px;
    color: white;
    border-radius: 5px;
    padding: 7px 11px 7px 11px;
}
.btn-all-solution:hover {
    background-color: #2B9BD2;
}
            /* Langughe and login nav bar */
.langnav {
    text-align: right;
}
.langnav li {
    display: inline-block;
}
header {
    background-color: white;
}

.navigation li{
     display: inline-block;
     float: left;
     padding: 0 10px 0 10px;
}
.navigation a {
    text-decoration: none;
    color: white;
}
.navigation a {
    text-decoration: none;
    color: black;
}
             /* banner */
.banner {
    background-image: url("../img/slide-bg-complexity.jpg");
    background-attachment: fixed;
}
.banner ul {
    color: white;
    padding: 0px;
    margin-left: 00px;
    display: inline-block;
    opacity: 0.8;
}
.banner ul:hover{
    opacity: 1;
}
.banner a {
    text-decoration: none;
    color: white;
}
.banner-pink {
    background-color: #FF0066;
    border-radius: 7px;
}
.banner-green {
    background-color: #33FF00;
}
.banner-orange {
    background-color: #FF6600;
}
.banner article {
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
    height: 150px;
}


        /* solutions */
.solutions {
    background-color: rgb(65,159,196);
    color: white;
    height: 350px;
}
.solutions li {
    display: inline-block;
    float: left;
} 
.solutions a {
    text-decoration: none;
    color: white;
}
.news {
    background-image: url("../img/news-and-events-bg.jpg");
    height: 350px;
    background-attachment: fixed;
    color: white;
    padding: 30px;
        text-align: center;
}

.news li{
    background-color: rgb(191,174,163);
    opacity: 0.9;
    width: 200px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    opacity: 0.7;
    -moz-border-radius:28px;
    -webkit-border-radius:18px;
    border-radius:8px;
    float: left;
    padding-left: 20px;
    display: inline-block; 
}

.news li:hover{
    opacity: 1;
}
time{
    background-color: rgb(51,153,204);
    float: left;
    color: white;
    opacity: 1;
    width: 75px;
    height: 75px;
    margin-left: 10px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius: 8px;

}
time > h2 {
    font-size: 40px;
     margin: 0px;
     font-weight:normal;

}
time > h3 {
     margin: 0px;
     font-weight:normal;
}
.date-box{
    background-color: rgb(51,153,204);
    float: left;
    color: white;
    opacity: 1;
    width: 75px;
    height: 75px;
    margin-left: 10px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius: 8px;

}

/******************************************************************/

.successstories {
    background-color: #FFFFCC;
    color: black;
}
.successbox  {
    background-color: white;
    display: inline-block;
    height: 200px;
    width: 200px;
}
